.image1 {
  border: 5px solid black;
}

.image2 {
  border: 5px solid black;
}

.subscript1 {
  color: darkred;
}

.quote {
  font-size: 150%;
  font-weight: bold;
}

.stevejobs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}
