.image1 {
  border: 5px solid black;
  float: left;
  width: 22%;
}

.image2 {
  border: 5px solid black;
  float: right;
  width: 25%;
}

.subscript1 {
  color: darkred;
}

.quote {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.stevejobs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  height: 150px;
  width: 150px;
}

.para1 {
  padding: 10px;
  border: 1px solid black;
  background-color: darkgray;
  font-size: 125%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.background {
  background-color: lightgrey;
}

.head {
  font-size: 150%;
  text-align: center;
}

.name {
  text-align: center;
}

.button {
  text-align: center;
}

#gallery {
   border: 2px solid black;
   background-color: lightgrey;
}

#timeline {
   border: 2px solid black;
   background-color: lightgrey;
}

#home {
  border: 2px solid black;
  background-color: lightgrey;
}

.image3 {
  width: 250px;
  height: 250px;
}

.image4 {
  width: 250px;
  height: 250px;
}

.image5 {
  width: 250px;
  height: 250px;
}
